<h1>
  Square Root Results
</h1>
<%=params%>
<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%=@user_number%>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
   <%=@user_result%>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
